# ValidatingWebhookConfiguration
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: openobserve-validating-webhook
  labels:
    app: openobserve-operator
webhooks:
- name: validate.alerts.openobserve.ai
  clientConfig:
    service:
      name: openobserve-webhook-service
      namespace: o2operator
      path: /validate-openobserve-ai-v1alpha1-openobservealert
    # CA bundle will be injected by the operator or cert-manager
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVTDVEdlI2Uklud2M0U1M4YW1EbmhLelkwV21Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0lURWZNQjBHQTFVRUF3d1diM0JsYm05aWMyVnlkbVV0ZDJWaWFHOXZheTFqWVRBZUZ3MHlOVEV5TURVeApPRE00TkRCYUZ3MHpOVEV5TURNeE9ETTROREJhTUNFeEh6QWRCZ05WQkFNTUZtOXdaVzV2WW5ObGNuWmxMWGRsClltaHZiMnN0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUNaUFIwREsrWVAKa2gvOXRkNlBCTGZrQm4rUW8rbGswcHNqMmd5RVJqalhCRXd3NWYrQkRsZmFjYWxid05wMU4vaU5MTkZ0dlh3TgpGakh2ZU13eHFPTUtGVG9FTnJrK0ZlUU1DN3RsaWdnWkM3Zk1HQWc5OGg1aFVRVEEwclI4UHZUUHA2QTd3MjIwCld4b21icTJmWHFmUnNyeEtpSEI4OWhNb29rU0c3SDVobUIxUGVUaHlvckY2NFQ3N3ZkL09OZmZWNjJwMXdwNC8KaUNIMnVIbUh0Q1JnQkxiYnh5eGVtVEI1Mm1qdWxKaktYajRTdHJOdE1uaUMwbXVHVEwvTnZtVXVMVTBFVEx0QgpzR2V4Qlg4VFQxeVczZnErbTkwVk9rTnQ0dk9heW00bnlzMncyb3d3dFJsR0liU1FMZ3krS3lMemV3aXBZUDRhCmJ4dDBGVEs3clNHWEFnTUJBQUdqVXpCUk1CMEdBMVVkRGdRV0JCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTkKSWpBZkJnTlZIU01FR0RBV2dCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTlJakFQQmdOVkhSTUJBZjhFQlRBRApBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCOGNZbHdWV3lQN1l5UmIvcHJJRHcvekQwU3l0RENjUzZzCjFqUFBudlBTM05tUEpPV3VVYTdPdHNpUkZweTRCN09mR01scnZkVkp3cGlpQWRRM1BieXg2Q3pYQmJiV1ZRZGEKeldwdEN1NlJFYTRGOXhOQXBNZ21FbU5Jelg3OTZLL0JHZEx5L2NNL0VrajJMNm1VcG1HWUNyNmFnVXlBUStkUApjaE9kNjNlWjJRVDA2czJ4NG1jY2J3dkNCVlRiRTlGRGFkZkN6N21ZRGhPK0FuR3NZaVViemloZXBoMmVSQ2NqClZSdEhDTkhGMjQyR0M3dDVMNDBLaHd6OVNYTEc5RDhVU0doTTBmWWhWYmNoYnh1MW9EZFRycFFmeWZxbmlsVFQKamM4NENRSTdsVVFxVjVmVW9HeUVuWmdUUDNhVHVIVzkwYXY2elg2ZlZQVFVPOGVVVXh3dwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  rules:
  - apiGroups:
    - openobserve.ai
    apiVersions:
    - v1alpha1
    resources:
    - openobservealerts
    operations:
    - CREATE
    - UPDATE
    - DELETE
  admissionReviewVersions:
  - v1
  - v1beta1
  sideEffects: None
  failurePolicy: Fail
  timeoutSeconds: 10

- name: validate.pipelines.openobserve.ai
  clientConfig:
    service:
      name: openobserve-webhook-service
      namespace: o2operator
      path: /validate-openobserve-ai-v1alpha1-openobservepipeline
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVTDVEdlI2Uklud2M0U1M4YW1EbmhLelkwV21Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0lURWZNQjBHQTFVRUF3d1diM0JsYm05aWMyVnlkbVV0ZDJWaWFHOXZheTFqWVRBZUZ3MHlOVEV5TURVeApPRE00TkRCYUZ3MHpOVEV5TURNeE9ETTROREJhTUNFeEh6QWRCZ05WQkFNTUZtOXdaVzV2WW5ObGNuWmxMWGRsClltaHZiMnN0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUNaUFIwREsrWVAKa2gvOXRkNlBCTGZrQm4rUW8rbGswcHNqMmd5RVJqalhCRXd3NWYrQkRsZmFjYWxid05wMU4vaU5MTkZ0dlh3TgpGakh2ZU13eHFPTUtGVG9FTnJrK0ZlUU1DN3RsaWdnWkM3Zk1HQWc5OGg1aFVRVEEwclI4UHZUUHA2QTd3MjIwCld4b21icTJmWHFmUnNyeEtpSEI4OWhNb29rU0c3SDVobUIxUGVUaHlvckY2NFQ3N3ZkL09OZmZWNjJwMXdwNC8KaUNIMnVIbUh0Q1JnQkxiYnh5eGVtVEI1Mm1qdWxKaktYajRTdHJOdE1uaUMwbXVHVEwvTnZtVXVMVTBFVEx0QgpzR2V4Qlg4VFQxeVczZnErbTkwVk9rTnQ0dk9heW00bnlzMncyb3d3dFJsR0liU1FMZ3krS3lMemV3aXBZUDRhCmJ4dDBGVEs3clNHWEFnTUJBQUdqVXpCUk1CMEdBMVVkRGdRV0JCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTkKSWpBZkJnTlZIU01FR0RBV2dCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTlJakFQQmdOVkhSTUJBZjhFQlRBRApBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCOGNZbHdWV3lQN1l5UmIvcHJJRHcvekQwU3l0RENjUzZzCjFqUFBudlBTM05tUEpPV3VVYTdPdHNpUkZweTRCN09mR01scnZkVkp3cGlpQWRRM1BieXg2Q3pYQmJiV1ZRZGEKeldwdEN1NlJFYTRGOXhOQXBNZ21FbU5Jelg3OTZLL0JHZEx5L2NNL0VrajJMNm1VcG1HWUNyNmFnVXlBUStkUApjaE9kNjNlWjJRVDA2czJ4NG1jY2J3dkNCVlRiRTlGRGFkZkN6N21ZRGhPK0FuR3NZaVViemloZXBoMmVSQ2NqClZSdEhDTkhGMjQyR0M3dDVMNDBLaHd6OVNYTEc5RDhVU0doTTBmWWhWYmNoYnh1MW9EZFRycFFmeWZxbmlsVFQKamM4NENRSTdsVVFxVjVmVW9HeUVuWmdUUDNhVHVIVzkwYXY2elg2ZlZQVFVPOGVVVXh3dwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  rules:
  - apiGroups:
    - openobserve.ai
    apiVersions:
    - v1alpha1
    resources:
    - openobservepipelines
    operations:
    - CREATE
    - UPDATE
    - DELETE
  admissionReviewVersions:
  - v1
  - v1beta1
  sideEffects: None
  failurePolicy: Fail
  timeoutSeconds: 10

- name: validate.configs.openobserve.ai
  clientConfig:
    service:
      name: openobserve-webhook-service
      namespace: o2operator
      path: /validate-openobserve-ai-v1alpha1-openobserveconfig
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVTDVEdlI2Uklud2M0U1M4YW1EbmhLelkwV21Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0lURWZNQjBHQTFVRUF3d1diM0JsYm05aWMyVnlkbVV0ZDJWaWFHOXZheTFqWVRBZUZ3MHlOVEV5TURVeApPRE00TkRCYUZ3MHpOVEV5TURNeE9ETTROREJhTUNFeEh6QWRCZ05WQkFNTUZtOXdaVzV2WW5ObGNuWmxMWGRsClltaHZiMnN0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUNaUFIwREsrWVAKa2gvOXRkNlBCTGZrQm4rUW8rbGswcHNqMmd5RVJqalhCRXd3NWYrQkRsZmFjYWxid05wMU4vaU5MTkZ0dlh3TgpGakh2ZU13eHFPTUtGVG9FTnJrK0ZlUU1DN3RsaWdnWkM3Zk1HQWc5OGg1aFVRVEEwclI4UHZUUHA2QTd3MjIwCld4b21icTJmWHFmUnNyeEtpSEI4OWhNb29rU0c3SDVobUIxUGVUaHlvckY2NFQ3N3ZkL09OZmZWNjJwMXdwNC8KaUNIMnVIbUh0Q1JnQkxiYnh5eGVtVEI1Mm1qdWxKaktYajRTdHJOdE1uaUMwbXVHVEwvTnZtVXVMVTBFVEx0QgpzR2V4Qlg4VFQxeVczZnErbTkwVk9rTnQ0dk9heW00bnlzMncyb3d3dFJsR0liU1FMZ3krS3lMemV3aXBZUDRhCmJ4dDBGVEs3clNHWEFnTUJBQUdqVXpCUk1CMEdBMVVkRGdRV0JCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTkKSWpBZkJnTlZIU01FR0RBV2dCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTlJakFQQmdOVkhSTUJBZjhFQlRBRApBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCOGNZbHdWV3lQN1l5UmIvcHJJRHcvekQwU3l0RENjUzZzCjFqUFBudlBTM05tUEpPV3VVYTdPdHNpUkZweTRCN09mR01scnZkVkp3cGlpQWRRM1BieXg2Q3pYQmJiV1ZRZGEKeldwdEN1NlJFYTRGOXhOQXBNZ21FbU5Jelg3OTZLL0JHZEx5L2NNL0VrajJMNm1VcG1HWUNyNmFnVXlBUStkUApjaE9kNjNlWjJRVDA2czJ4NG1jY2J3dkNCVlRiRTlGRGFkZkN6N21ZRGhPK0FuR3NZaVViemloZXBoMmVSQ2NqClZSdEhDTkhGMjQyR0M3dDVMNDBLaHd6OVNYTEc5RDhVU0doTTBmWWhWYmNoYnh1MW9EZFRycFFmeWZxbmlsVFQKamM4NENRSTdsVVFxVjVmVW9HeUVuWmdUUDNhVHVIVzkwYXY2elg2ZlZQVFVPOGVVVXh3dwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  rules:
  - apiGroups:
    - openobserve.ai
    apiVersions:
    - v1alpha1
    resources:
    - openobserveconfigs
    operations:
    - CREATE
    - UPDATE
    - DELETE
  admissionReviewVersions:
  - v1
  - v1beta1
  sideEffects: None
  failurePolicy: Fail
  timeoutSeconds: 10

- name: validate.functions.openobserve.ai
  clientConfig:
    service:
      name: openobserve-webhook-service
      namespace: o2operator
      path: /validate-openobserve-ai-v1alpha1-openobservefunction
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVTDVEdlI2Uklud2M0U1M4YW1EbmhLelkwV21Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0lURWZNQjBHQTFVRUF3d1diM0JsYm05aWMyVnlkbVV0ZDJWaWFHOXZheTFqWVRBZUZ3MHlOVEV5TURVeApPRE00TkRCYUZ3MHpOVEV5TURNeE9ETTROREJhTUNFeEh6QWRCZ05WQkFNTUZtOXdaVzV2WW5ObGNuWmxMWGRsClltaHZiMnN0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUNaUFIwREsrWVAKa2gvOXRkNlBCTGZrQm4rUW8rbGswcHNqMmd5RVJqalhCRXd3NWYrQkRsZmFjYWxid05wMU4vaU5MTkZ0dlh3TgpGakh2ZU13eHFPTUtGVG9FTnJrK0ZlUU1DN3RsaWdnWkM3Zk1HQWc5OGg1aFVRVEEwclI4UHZUUHA2QTd3MjIwCld4b21icTJmWHFmUnNyeEtpSEI4OWhNb29rU0c3SDVobUIxUGVUaHlvckY2NFQ3N3ZkL09OZmZWNjJwMXdwNC8KaUNIMnVIbUh0Q1JnQkxiYnh5eGVtVEI1Mm1qdWxKaktYajRTdHJOdE1uaUMwbXVHVEwvTnZtVXVMVTBFVEx0QgpzR2V4Qlg4VFQxeVczZnErbTkwVk9rTnQ0dk9heW00bnlzMncyb3d3dFJsR0liU1FMZ3krS3lMemV3aXBZUDRhCmJ4dDBGVEs3clNHWEFnTUJBQUdqVXpCUk1CMEdBMVVkRGdRV0JCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTkKSWpBZkJnTlZIU01FR0RBV2dCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTlJakFQQmdOVkhSTUJBZjhFQlRBRApBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCOGNZbHdWV3lQN1l5UmIvcHJJRHcvekQwU3l0RENjUzZzCjFqUFBudlBTM05tUEpPV3VVYTdPdHNpUkZweTRCN09mR01scnZkVkp3cGlpQWRRM1BieXg2Q3pYQmJiV1ZRZGEKeldwdEN1NlJFYTRGOXhOQXBNZ21FbU5Jelg3OTZLL0JHZEx5L2NNL0VrajJMNm1VcG1HWUNyNmFnVXlBUStkUApjaE9kNjNlWjJRVDA2czJ4NG1jY2J3dkNCVlRiRTlGRGFkZkN6N21ZRGhPK0FuR3NZaVViemloZXBoMmVSQ2NqClZSdEhDTkhGMjQyR0M3dDVMNDBLaHd6OVNYTEc5RDhVU0doTTBmWWhWYmNoYnh1MW9EZFRycFFmeWZxbmlsVFQKamM4NENRSTdsVVFxVjVmVW9HeUVuWmdUUDNhVHVIVzkwYXY2elg2ZlZQVFVPOGVVVXh3dwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  rules:
  - apiGroups:
    - openobserve.ai
    apiVersions:
    - v1alpha1
    resources:
    - openobservefunctions
    operations:
    - CREATE
    - UPDATE
    - DELETE
  admissionReviewVersions:
  - v1
  - v1beta1
  sideEffects: None
  failurePolicy: Fail
  timeoutSeconds: 10

- name: validate.alerttemplates.openobserve.ai
  clientConfig:
    service:
      name: openobserve-webhook-service
      namespace: o2operator
      path: /validate-openobserve-ai-v1alpha1-openobservealerttemplate
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVTDVEdlI2Uklud2M0U1M4YW1EbmhLelkwV21Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0lURWZNQjBHQTFVRUF3d1diM0JsYm05aWMyVnlkbVV0ZDJWaWFHOXZheTFqWVRBZUZ3MHlOVEV5TURVeApPRE00TkRCYUZ3MHpOVEV5TURNeE9ETTROREJhTUNFeEh6QWRCZ05WQkFNTUZtOXdaVzV2WW5ObGNuWmxMWGRsClltaHZiMnN0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUNaUFIwREsrWVAKa2gvOXRkNlBCTGZrQm4rUW8rbGswcHNqMmd5RVJqalhCRXd3NWYrQkRsZmFjYWxid05wMU4vaU5MTkZ0dlh3TgpGakh2ZU13eHFPTUtGVG9FTnJrK0ZlUU1DN3RsaWdnWkM3Zk1HQWc5OGg1aFVRVEEwclI4UHZUUHA2QTd3MjIwCld4b21icTJmWHFmUnNyeEtpSEI4OWhNb29rU0c3SDVobUIxUGVUaHlvckY2NFQ3N3ZkL09OZmZWNjJwMXdwNC8KaUNIMnVIbUh0Q1JnQkxiYnh5eGVtVEI1Mm1qdWxKaktYajRTdHJOdE1uaUMwbXVHVEwvTnZtVXVMVTBFVEx0QgpzR2V4Qlg4VFQxeVczZnErbTkwVk9rTnQ0dk9heW00bnlzMncyb3d3dFJsR0liU1FMZ3krS3lMemV3aXBZUDRhCmJ4dDBGVEs3clNHWEFnTUJBQUdqVXpCUk1CMEdBMVVkRGdRV0JCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTkKSWpBZkJnTlZIU01FR0RBV2dCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTlJakFQQmdOVkhSTUJBZjhFQlRBRApBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCOGNZbHdWV3lQN1l5UmIvcHJJRHcvekQwU3l0RENjUzZzCjFqUFBudlBTM05tUEpPV3VVYTdPdHNpUkZweTRCN09mR01scnZkVkp3cGlpQWRRM1BieXg2Q3pYQmJiV1ZRZGEKeldwdEN1NlJFYTRGOXhOQXBNZ21FbU5Jelg3OTZLL0JHZEx5L2NNL0VrajJMNm1VcG1HWUNyNmFnVXlBUStkUApjaE9kNjNlWjJRVDA2czJ4NG1jY2J3dkNCVlRiRTlGRGFkZkN6N21ZRGhPK0FuR3NZaVViemloZXBoMmVSQ2NqClZSdEhDTkhGMjQyR0M3dDVMNDBLaHd6OVNYTEc5RDhVU0doTTBmWWhWYmNoYnh1MW9EZFRycFFmeWZxbmlsVFQKamM4NENRSTdsVVFxVjVmVW9HeUVuWmdUUDNhVHVIVzkwYXY2elg2ZlZQVFVPOGVVVXh3dwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  rules:
  - apiGroups:
    - openobserve.ai
    apiVersions:
    - v1alpha1
    resources:
    - openobservealerttemplates
    operations:
    - CREATE
    - UPDATE
    - DELETE
  admissionReviewVersions:
  - v1
  - v1beta1
  sideEffects: None
  failurePolicy: Fail
  timeoutSeconds: 10

- name: validate.destinations.openobserve.ai
  clientConfig:
    service:
      name: openobserve-webhook-service
      namespace: o2operator
      path: /validate-openobserve-ai-v1alpha1-openobservedestination
    caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSURJekNDQWd1Z0F3SUJBZ0lVTDVEdlI2Uklud2M0U1M4YW1EbmhLelkwV21Rd0RRWUpLb1pJaHZjTkFRRUwKQlFBd0lURWZNQjBHQTFVRUF3d1diM0JsYm05aWMyVnlkbVV0ZDJWaWFHOXZheTFqWVRBZUZ3MHlOVEV5TURVeApPRE00TkRCYUZ3MHpOVEV5TURNeE9ETTROREJhTUNFeEh6QWRCZ05WQkFNTUZtOXdaVzV2WW5ObGNuWmxMWGRsClltaHZiMnN0WTJFd2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUNaUFIwREsrWVAKa2gvOXRkNlBCTGZrQm4rUW8rbGswcHNqMmd5RVJqalhCRXd3NWYrQkRsZmFjYWxid05wMU4vaU5MTkZ0dlh3TgpGakh2ZU13eHFPTUtGVG9FTnJrK0ZlUU1DN3RsaWdnWkM3Zk1HQWc5OGg1aFVRVEEwclI4UHZUUHA2QTd3MjIwCld4b21icTJmWHFmUnNyeEtpSEI4OWhNb29rU0c3SDVobUIxUGVUaHlvckY2NFQ3N3ZkL09OZmZWNjJwMXdwNC8KaUNIMnVIbUh0Q1JnQkxiYnh5eGVtVEI1Mm1qdWxKaktYajRTdHJOdE1uaUMwbXVHVEwvTnZtVXVMVTBFVEx0QgpzR2V4Qlg4VFQxeVczZnErbTkwVk9rTnQ0dk9heW00bnlzMncyb3d3dFJsR0liU1FMZ3krS3lMemV3aXBZUDRhCmJ4dDBGVEs3clNHWEFnTUJBQUdqVXpCUk1CMEdBMVVkRGdRV0JCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTkKSWpBZkJnTlZIU01FR0RBV2dCUzBuR0JrM0pqWVJFdk5abllmTk5wVVNiSTlJakFQQmdOVkhSTUJBZjhFQlRBRApBUUgvTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElCQVFCOGNZbHdWV3lQN1l5UmIvcHJJRHcvekQwU3l0RENjUzZzCjFqUFBudlBTM05tUEpPV3VVYTdPdHNpUkZweTRCN09mR01scnZkVkp3cGlpQWRRM1BieXg2Q3pYQmJiV1ZRZGEKeldwdEN1NlJFYTRGOXhOQXBNZ21FbU5Jelg3OTZLL0JHZEx5L2NNL0VrajJMNm1VcG1HWUNyNmFnVXlBUStkUApjaE9kNjNlWjJRVDA2czJ4NG1jY2J3dkNCVlRiRTlGRGFkZkN6N21ZRGhPK0FuR3NZaVViemloZXBoMmVSQ2NqClZSdEhDTkhGMjQyR0M3dDVMNDBLaHd6OVNYTEc5RDhVU0doTTBmWWhWYmNoYnh1MW9EZFRycFFmeWZxbmlsVFQKamM4NENRSTdsVVFxVjVmVW9HeUVuWmdUUDNhVHVIVzkwYXY2elg2ZlZQVFVPOGVVVXh3dwotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
  rules:
  - apiGroups:
    - openobserve.ai
    apiVersions:
    - v1alpha1
    resources:
    - openobservedestinations
    operations:
    - CREATE
    - UPDATE
    - DELETE
  admissionReviewVersions:
  - v1
  - v1beta1
  sideEffects: None
  failurePolicy: Fail
  timeoutSeconds: 10